{% extends 'base.html.twig' %}

{% block title %}Our Shop : {{ spaceship.manufacturer }} - {{ spaceship.class }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ spaceship.manufacturer }} - {{ spaceship.class }} - {{ spaceship.type }}</h1>
            <small><b>#{{ spaceship.id }}</b> {{ spaceship.hullNumber }}</small>
            <p>A fake description</p>
            {{ include('shop/_add_to_cart.html.twig') }}
        </div>
    </div>
{% endblock %}