{% extends 'blueprint/layout.html.twig' %}

{% block content %}
    <h2>Select a Manufacturer and a Hull</h2>
    {{ form_start(form, {'attr': {'id': 'select-blueprints-form'}}) }}
        <section class="mb-3" {{ stimulus_controller('select-blueprints') }}>
            <h3>Select basic info</h3>
            <div class="row">
                <div class="col">{{ form_row(form.manufacturer) }}</div>
                <div class="col">{{ form_row(form.role) }}</div>
            </div>
            <div class="row">
                <div class="col">{{ form_row(form.className) }}</div>
                <div class="col">{{ form_row(form.classVariant) }}</div>
            </div>
            <span data-select-blueprints-target="blueprints" data-blueprints="{{ blueprints }}"></span>
        </section>
        <button type="submit" class="btn btn-primary">Select a blueprint</button>
    {{ form_end(form) }}

    {% if blueprint is defined %}
        <pre>{{ dump(blueprint) }}</pre>
    {% endif %}
{% endblock %}
